.carousel-fade {
    padding: 50px 180px;
  }
  
  .carousel-item img {
    height: 700px;
    width: 100%;
  }
  
  .carousel-item {
    position: relative;
  }
  
  .custom-buttons {
    position: absolute;
    bottom: 180px;
    left: 81%;
    transform: translateX(-50%);
    justify-content: center;
    z-index: 1;
  }
  
  .custom-buttons .btn {
    height: 40px;
    width: 210px;
    display: flex;
    background-color: #fff;
    margin-top: 5px;
    opacity: 0.5;
    border-radius: 0;
    border: none;
  }

.custom-buttons p {
    color: #000;
    opacity: 70%;
    letter-spacing: 1px;
    margin-top: 2.5px;
}  

  .custom-buttons .btn:focus {
    outline: none;
  }

  .custom-buttons .btn:hover {
    background-color: #fff;
  }
  
  .custom-buttons p:hover {

    color: #000;
    background-color: #fff;
    opacity: 100%;
  }
  
  #myButton:active {
    background-color: #fff;
    opacity: 100%;
    border: none;
  }