.container {
    position: relative;
    display: flex;
    justify-content: center;
    
    width: 100%;
}

.container .btn {
    border: none;
}

.container p {
    font-size: large;
}

/* Bottom right text */
.text-block {
    position: absolute;
    width: 160px;
    bottom: 5%;
    left: 81%;
    color: black;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 60%;
    height: 6%;
}

button {
    background-color: transparent;
    width: 100%;
    text-align: left;
}